.header{
  width: 100%;
  padding: 100px 0px;
  background-color: rgb(54, 74, 95);
  color: white;
  font-size: 40px;
  text-align: center;
}
.mainSection{
  color: black;
  padding: 50px;
  text-align: center;
}
.links{
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 30px;
  font-size: 20px;
  
  
}
.Navbar{
  background-color: rgb(28, 28, 29);
  height: 50px;
  padding-top: 15px;
  
}
.recipe-front{
  background-color: rgb(27, 28, 29);
  color: white;
  border-radius: 10px;
  margin-top: 50px;
  padding: 30px;
  width: 30%;
  text-align: center;
  margin: auto;
  height: 600px;
  margin: auto;
}
.recipe-whole{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
  
}
